@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



:root {
    --background-color: #fb923c;
    --text-color: #FFFFFF;
    --off-white: #E9ECEF;
    --success: #16a34a;
    --warning: #c2410c;
    --error:#b91c1c;
    --sidenav-color:#818181;
    --white-background:#ffffff;

  
  }

  body{
    font-family: 'Open Sans', sans-serif;
  }

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color:var(--sidenav-color);
    display: block;
    transition: 0.3s;
  }
  
  .side-nav a:hover {
    color: var(--off-white);
  }
  
  .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  .sidenav-item
  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: var(--sidenav-color);
    display: block;
    transition: 0.3s;
  }

 .getstarted{
    display: flex;
    justify-content:center;
 }
  

  .text-style {
    font-size: larger;
    display: flex;
    justify-content:center;
    padding: 3rem;
    border-bottom: 1px double;
  
  }


  /*---------------------Avatar-----------------------*/

  .avatar{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
  }


  .avatar-img{
  vertical-align: middle; 
  padding: 1rem;
  }

  .rounded{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
  }

  .squared{
    width: 50px;
    height: 50px;
    border-radius: 30%;
  }


  /*----------------badge------------------------*/

  .s-badge{
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    margin: auto;  
  }

  .grey{
    background-color: var(--sidenav-color);
  }

  .red{
    background-color: var(--warning);
  }

  .badge{
      display: flex;
      justify-content: center;
      margin: 1rem 1rem;
  }

  /*------------------list-----------------*/

  .list-bulleted
  {
    list-style: disc outside;
  }

  .lists{
      display: flex;
      justify-content: center;
  }
  
  .list{
      list-style: none;
  }



  /*------------------Button------------------*/

  .button{

    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .btn-component{
    padding: 0.5rem;
    border-radius: 0.7rem;
    border: 1px solid;
    font-size: medium;
  }

  .btn-primary{

    background-color: var(--background-color);
    color: var(--text-color);
  }


  .link-btn{
      border:none;
      background-color: var(--white-background);
  }

  .icon-btn{
    display: flex;
    align-items: center;
    background-color: var(--background-color);
  }

  .float-btn {
    width:50px;
    height:50px;
    border-radius: 100%;
    background: var(--background-color);
    box-shadow: 10px 10px 5px #aaaaaa;
    }

    .float-btn i{
        display:flex;
        align-items:center;
        justify-content:center;
        height: 100%;
        color:var(--text-color);
        }


 /*----------------image component--------------------*/       

 .image-component{
    display: flex;
    justify-content: center;
    margin: 2rem;
 }

 .img-component{
    width: 35rem;
    height: 35rem;
 }

 .responsive{
    max-width: 100%;
    height: auto;
 }

.circular{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

/*============input component-----------------*/

.input-component{
    display: flex;
    justify-content: center;

}

.inp-component {
margin:1rem;
padding: 0.5rem 0.1rem;
text-align: center;
border-radius: 0.3rem;
border-color: var(--text-color);
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.input-component label{
    margin-top: 1.5rem;
}

.error-input{
 border-color: var(--warning);  
}

/*----------------Rating---------------*/

.rating-container{
  display: flex;
  justify-content: center;
}


.rating{
    
    font-size: 1.5rem;
    margin: 1rem;
}

.checked{
    color:var(--background-color);
  }

.fa-star:hover{
    color:var(--background-color);
  }
  /*-------------------Alert-----------------*/

  .alert-component{
  display: flex;
  justify-content: center;
  font-weight: bold;
  }


  .done{
color: var(--success);
  }

  .warning{
    color: var(--warning);
  }

  .error{
    color: var(--error);
  }


  /*-------------slider-------------*/
  .slider-component{
    margin:1rem;
    display:flex;
    justify-content: center;
  }

  .slider{
    accent-color:var(--background-color);
  }


  /*------------Toast/Snackbar-------------*?

  *---------toast/snackbar-component----------*/

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-btn{
  padding:5px;
  border-radius: 0.3rem;
  color: var(--background-color);
  border-color: var(--text-color);
  box-shadow: 10px 10px 5px #aaaaaa;
}

